<!-- <h1 
 [class]="color"
>Titulo {{title}}
</h1> -->

<!-- {{interpolacion}} -->
<!-- ()eventBinding
[]property binding -->
<!-- <pre>
  {{_carritoService.carritoCompras | json}}
</pre> -->

<!-- 
<button (click)="mostrar(true)">Mostrar</button>

<button (click)="mostrar(false)">Ocultar</button>

<div *ngIf="!estaMostrando">
    <app-item-galeria
    *ngFor="let flor of arregloFloresJs"
    [titulo]="flor.titulo"
    [textoBoton]="flor.nombre" 
    [nombreItem]="flor.descripcion"
    [notas]="flor.notas"
    (cambioFeliz)="cambioFeliz($event)"
    (cambioEnojado)="cambioEnojado($event)"
  
  >
  </app-item-galeria>
  
</div> -->

<!-- para capturar datos se utiliza el $event -->

<div class="contenedor">
      <div class="row">
        <div class="col-md-3">
          TITULO
        </div>
        <div class="col-md-6 texto-derecha" >
            <div class="item-menu">Menu</div>
            <div class="item-menu">Inicio</div>
            <div class="item-menu">Peliculas</div>
            <div class="item-menu">Tienda</div>
            <div class="item-menu">DC</div>
            <div class="item-menu">MArvel</div>
        </div>
        <div class="col-md-3">
          LOGIN
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          Listas
        </div>
        <div class="col-md-9">
            Contenido
          </div>
      </div>


      <div class="row-lg-1">4</div>
      <div class="row-lg-1">5</div>

</div>


